.main-header {
  width: 100%;
  background-color: #c79f00;
  background-image: (
    "https://www.transparenttextures.com/patterns/asfalt-dark.png%22"
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1em 2em 2em 0.5em;
}

.header-text {
  color: #fff;
}

.header-img {
  min-width: 100px;
  width: 80%;
}
.header-img img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .main-header {
    margin: 0;
  }
}
