.main-header {
  height: 400px;
  width: 100%;
  background-color: #c79f00;
  background-image: (
    "https://www.transparenttextures.com/patterns/asfalt-dark.png%22"
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .nav {
    background-color: #4056a1;
  }
}


/* main-header {
    width: 45%;
    margin: 60px;
    margin-right: 100px;
  }  */