.tweet-container {
  border: 5px solid;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 1em;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.identity {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet-container footer {
  border-top: 5px solid #5a5a5a;
  display: flex;
  justify-content: space-between;
}
.tweet-container footer i:hover {
  color: red;
}

.tweet-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.identity-img {
  min-width: 50px;
}
.identity-img img {
  width: 90%;
}
.counterErr {
  color: red;
}
