.tweet-container {
  border: 5px solid;
  flex-direction: column;
  margin-bottom: 15px;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.identity {
  display: flex;
  width: 200px;
  justify-content: space-around;
  /* border: 1px dashed blue; */
}

footer {
  border-top: 5px solid #5a5a5a;
  display: flex;
  justify-content: space-between;
}

.counterErr {
  color: red;
}

tweet-container footer div {
  color: red;
}

.tweet-id {
  padding-right: 25px;
}

.fas fa-flag {
  color: red;
}
.footer {
  padding-left: 15px;
}
